*{
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.pai{
    width: 300px;
    height: 500px;
    margin: auto;
    border: 1px solid gray;
    position: relative;
    
}

.filho{
    width: 100px;
    height: 166px;
    transition: all linear 0.9s;
    position: absolute;
    z-index: 1;
}

.filho img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:all 0.2s;
}

.filho:hover{
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.5);
    top: 0px;
    left: 0px;
}

.filho:hover img{
    object-fit:contain;
}

.f2{
    left:100px;
}

.f3{
    left:200px;
}

.f4{
    top:166px;
}

.f5{
    top:166px;
    left:100px;
}
.f6{
    top:166px;
    left:200px;
}

.f7{
    top:332px;
}

.f8{
    top:332px;
    left:100px;
}
.f9{
    top:332px;
    left:200px;
}